body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.performers-section {
  width: 100%;
  background: white;
  text-align: center;
  padding: 60px 0;
}

.performers-title {
  font-size: 2.5rem;
  color: var(--dark-blue);
  font-weight: 700;
  margin-bottom: 40px;
}

/* Wrapper */
.performer-slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider */
.performers-slider {
  display: flex;
  gap: 25px;
  overflow: hidden;
  width: 90%;
  justify-content: center;
}

/* Performer Card */
.performer-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  width: 22%;
  min-width: 230px;
  transition: all 0.3s ease;
}

.performer-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(138, 43, 226, 0.2);
}

.performer-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.performer-info {
  padding: 15px;
}

.performer-info h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 8px 0 5px;
}

.performer-info p {
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 0.95rem;
}

/* Navigation Buttons */
.nav-btn {
  background: white;
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  font-size: 1.5rem;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
  background: #464447;
  color: white;
  transform: scale(1.1);
}

.prev {
  position: absolute;
  left: 2%;
}

.next {
  position: absolute;
  right: 2%;
}


.ytb-performance {
  margin-top: 15px;
  background-color:var(--dark-blue);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ytb-performance .see-performance-btn {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/* Hidden state initially */
.slider-hidden-performer {
  opacity: 0;
  transform: translateY(-170px) scale(0.6);
}

/* On scroll animation */
.slider-animate-performer {
  opacity: 1 !important;
  transform: translateY(0) scale(1) !important;
  transition: opacity 5s ease-out, transform 5s cubic-bezier(0.16, 1, 0.3, 1);
}


/* Responsive */
@media (max-width: 992px) {
  .performers-slider {
    flex-wrap: wrap;
    justify-content: center;
  }

  .performer-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .performer-card {
    width: 90%;
  }

  .nav-btn {
    display: none;
  }
}
