body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Section */
.ue-section {
  width: 100%;
  padding-bottom: 30px;
  background: white;
  text-align: center;
}

.ue-title {
  font-size: 2.5rem;
  color: var(--dark-blue);
  font-weight: 700;
  margin-bottom: 40px;
}

/* Wrapper */
.ue-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider */
.ue-slider {
  display: flex;
  gap: 25px;
  overflow: hidden;
  width: 90%;
  justify-content: center;
}

/* Cards */
.ue-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 22%;
  min-width: 230px;
  transition: transform 0.3s ease;
}

.ue-card:hover {
  transform: translateY(-5px);
}

.ue-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.ue-card h3 {
  margin: 12px 0;
  font-size: 1.1rem;
  color: #333;
  font-weight: 600;
}

/* Buttons */
.ue-btn {
  background: white;
  color: #b347b3;
  border: 2px solid #b347b3;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ue-btn:hover {
  background: #636063;
  color: white;
  transform: scale(1.1);
}

.ue-prev {
  position: absolute;
  left: 2%;
}

.ue-next {
  position: absolute;
  right: 2%;
}


/* Scroll Animation */
.ue-section.scroll-hidden {
  opacity: 0;
  transform: translateY(80px);
}

.scroll-show.ue-section {
  opacity: 1;
  transform: translateY(0);
  transition: all 4.2s ease-out;
}


/* Card Stagger Animation */
.scroll-show .ue-card {
  opacity: 0;
  animation: cardReveal 4.4s ease-out forwards; /* SLOWER */
}

.scroll-show .ue-card:nth-child(1) {
  animation-delay: 0.2s;
}
.scroll-show .ue-card:nth-child(2) {
  animation-delay: 1s;
}
.scroll-show .ue-card:nth-child(3) {
  animation-delay: 1.6s;
}
.scroll-show .ue-card:nth-child(4) {
  animation-delay: 2.2s;
}

/* Keyframes slow */
@keyframes cardReveal {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(55px); /* Softer start */
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}


/* Responsive */
@media (max-width: 992px) {
  .ue-slider {
    flex-wrap: wrap;
    justify-content: center;
  }

  .ue-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .ue-card {
    width: 90%;
  }

  .ue-btn {
    display: none;
  }
}
